name: Checks

on: [push] # Define which trigger will start this action

jobs: # Define the jobs this will execute
  test-lint: # Job 1
    name: Test and lint
    runs-on: ubuntu-24.04 # Specify where the job will run
    steps: # Steps in order, first one will be authentication
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
