name: Checks

on: [push] # Define which trigger will start this action

jobs: # Define the jobs this will execute
  test-lint: # Job 1
    name: Test and lint
    runs-on: ubuntu-24.04 # Specify where the job will run
    steps: # Steps in order, first one will be authentication
    # Log in to dockerhub repository so we can have 200 pulls/6hours
      - name: Login to Docker Hub # each name tag specifies a step
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Action checkout is used to pull files from our repository, need to instance
    # this because some actions don't need to see the files, so we pull only when needed!
      - name: Checkout
        uses: actions/checkout@v6 # All his step will do is retrieve the files from my repository

    # This is where we begin the actual tests, after configuring everything, each!
      - name: Test
        run: docker compose run --rm app sh -c "python manage.py test"

    # This step is for testing if the code is linted!
      - name: Linting
        run: docker compose run --rm app sh -c "flake8"
